<!--ユーザーの詳細-->
<div>
    <h3>User Info</h3>
    <%= image_tag @user.get_profile_image(100,100) %>
    <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
        </tbody>
    </table>
    <% if @user == current_user %>
    <div class="row">
<%= link_to edit_user_path, class: 'btn btn-outline-secondary btn-block' do %>
   <i class="fas fa-user-cog"></i>
<% end %>
<% end %>
</div>

<!--ユーザーの投稿一覧-->
<%= render 'post_images/list', post_images: @post_images %>
<!--renderで部分テンプレートを呼び出せるアンダースコアは省略できる-->
<!--ローカル変数（'post_images'）に渡すインスタンス変数（@post_images）を指定する-->